<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/styles/homestyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
    <header>

        <div class="topnav">
            <div class="topnav-title">
                MonkeyStocks
            </div>

            <div class="topnav-links">
                <a href="file:///C:/Users/Win-10/Documents/Programa%C3%A7%C3%A3o/Projetos/portfolio/index.html">Portfolio Owner</a>
                <form action="/logout" method="post"><button>Log Out</button></form>
                <form action="/delete" method="post"><button>Delete my account</button></form>
            </div>
        </div>

    </header>


    <section id="graphic">

        <div class="graphic">
          <div class="left-graphic">
            <h2 id="stock_name">Please Search a Stock:</h2>

            <form class="stock-selector">
                
                  To search a Bovespa Stock, please insert a name:
                <input type="text" name="stock" id="stock">
                <button>Consultar</button><br>
            </form>
            <div class="stock-info">
                <ul id="stock-info">

                </ul>
            </div>
          </div>
            

            <div class="right-graphic">
              <div class="stock-gaphic" id="stock-gaphic">
                <canvas id='myChart'></canvas>
              </div>
            </div>
          <script src="/scripts/graphic.js" type="module"></script>
        </div>
        
    </section>

    

</body>
</html>


